.card {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%; /* Makes sure the card stretches to the container height */
}

    .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* Adjust based on your preference */
    margin: 20px; /* Adjust based on your preference */
  }
  
  /* Responsive adjustments */
  @media (max-width: 1200px) {
    .card-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 992px) {
    .card-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .card-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  